<div class="container-fluid">
  <div class = "center">
  <div class="row">
    <div>
      <div class="thumb">
      </div>
    </div>
    <div class="col-5">
      <p class="h3 p-3">{{ animeDetail.name }}</p>
      <dl>
        <dt>Description</dt>
        <dd>{{ animeDetail.description }}</dd>
        <hr />
        <dt>Rating ⭐</dt>
        <dd>{{ animeDetail.Rating }}</dd>
        <hr />
        <dt class="bold">Studio</dt>
        <dd class="caption">{{ animeDetail.studio }}</dd>
        <hr />
        <dt class="bold">Number of episodes</dt>
        <dd>{{ animeDetail.episode }}</dd>
        <hr>
      </dl>
    </div>
    <div class="col-7"><div class = "col-6"><img
      class="img-fluid"
      src="{{ animeDetail.img }}"
      alt="{{ animeDetail.name }}"
    /></div>
    
      <div>
  </div>
</div>
 </div>
 <br>
      <hr>


 